<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link img script iframe video audio 等带有href属性或者src的属性标签，浏览器会自动发起新的请求 -->
    <!-- 在服务器中所有文件的路径都要想象成url地址 -->
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <button class="button"><a href="/post">添加评论 </a> </button>
    <div class="table">
       {{each msgArr}}
       <p>{{$value.name}} 说 {{$value.value}} 日期 {{$value.date}}</p>
       {{/each}}
    </div>
</body>

</html>