<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        <a href="/index">回到首页</a>
        <form action="/pinglun" method="post">
            <div>
                <label for="name">姓名</label>
                <input type="text" name="name" required maxlength="10" required minlength="2"/>
            </div>
            <div>
                <label for="name">信息</label>
                <textarea name="msg" required maxlength="20" required minlength="5" ></textarea>
            </div>
            <button type="submit">  提 交 </button>
        </form>
    </div>
</body>
</html>